<table class="data" cellspacing="0" cellpadding="0">
<tr>
<th>Channel Id</th>
<th>Channel Name</th>
<th>DID</th>
<th>Add</th>
</tr>
<tr>
<td>
<select name="repeatSelect" id="repeatSelect" ng-model="sno" ng-change="indata()" ng-options="dat.name for dat in data track by dat.id">
</select>
</td>
<td><input type="text" ng-model="name" readonly/></td> 
<td><input type="text"  ng-model="course" ng-keypress="validate(event)" maxlength="11" ng-keyup="hiden()"/></td>
<td><input type="submit" value="Add" class="add" ng-click="insertdata()"/></td>
</tr>
</table>
<br>
<p ng-style="successn">{{ condition }}</p>
<p ng-style="alert">{{ alertmsg }}</p>
<br>
<a class="view" href="#display">View</a>